JWT_SECRET="540548050"
JWT_EXPIRES_IN=7d

DATABASE_URL="postgresql://neondb_owner:npg_pPHe6gzLS5Yk@ep-divine-firefly-a19o69yd-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
POSTGRES_PRISMA_URL="postgresql://neondb_owner:npg_pPHe6gzLS5Yk@ep-divine-firefly-a19o69yd-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&connect_timeout=15"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_pPHe6gzLS5Yk@ep-divine-firefly-a19o69yd.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://neondb_owner:npg_pPHe6gzLS5Yk@ep-divine-firefly-a19o69yd.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
R2_ACCOUNT_ID="b7c61b3c76ae7b4b911810eddf11aad6"
R2_BUCKET_NAME="busyzz-dev"
R2_ACCESS_KEY_ID="476bd24aece47aab26e7d24871852e25"
R2_SECRET_ACCESS_KEY="370a3edcea85844449901f9bb063b3156aa7137b8189c148f8114270c378165c"
R2_PUBLIC_URL="https://pub-6e0596fcc9d340fea87a4058d310a941.r2.dev"

